<igx-navbar class="navbar">
  <igx-navbar-action>
    <button igxRipple igxIconButton="flat">
      <igx-icon>
        menu
      </igx-icon>
    </button>
  </igx-navbar-action>
  <igx-navbar-title class="navbar-content">
    <h6 class="h6">
      Screen Title
    </h6>
  </igx-navbar-title>
  <button igxRipple igxIconButton="flat">
    <igx-icon>
      search
    </igx-icon>
  </button>
  <button igxRipple igxIconButton="flat" routerLink="/images">
    <igx-icon>
      favorite
    </igx-icon>
  </button>
  <button igxRipple igxIconButton="flat">
    <igx-icon>
      add_home
    </igx-icon>
  </button>
</igx-navbar>
<igx-date-picker type="border" mode="dialog" class="date-picker">
  <label igxLabel>Date</label>
</igx-date-picker>
